body {
	color: #000000;
	background: #FFFFFF;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#viewport {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	position: fixed;
	cursor: grab;
}
#menu {
	position: fixed;
	bottom: 0px;
	margin: 15px;
	padding: 5px;
	border-radius: 25px;
	background-color: #FFFFFF;
	z-index: 2;
}
.menubutton {
	padding: 20px;
	border-radius: 15px;
	background-color: #FFFFFF00;
	cursor: pointer;
}
.menubutton:hover {
	background-color: #FFAA0066;
}
#buildmode {
	padding: 5px;
	border-radius: 20px;
	background-color: #FFFFFF;
}
#setheight {
	padding: 5px;
	border-radius: 20px;
	background-color: #FFFFFF;
}
#delete {
	padding: 5px;
	border-radius: 20px;
	background-color: #FFFFFF;
}
#height {
	display: none;
	position: fixed;
	bottom: 250px;
	margin: 15px;
	padding: 25px;
	border-radius: 25px;
	background-color: #FFFFFF;
	z-index: 2;
}
input[type=number] {
    width: 30px;
	height: 30px;
	border: 1px solid #FFAA0099;
	padding: 0px;
	text-align: center;
	align-content: center;
	border-radius: 4px;
	font-size: 11px;
}
input[type=range][orient=vertical] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	border: none;
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
	accent-color: #FFAA0099;
    width: 28px;
	height: 280px;
    vertical-align: bottom;
	padding: 0px;
}